#dropZone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px dashed gray;
    border-radius: 4px;
    background-color: gainsboro;
    width: auto;
    margin: 1em 0;
    height: 160px;
    font-size: medium;
    color: gray;
    button {
        width: 8em;
        height: 2em;
    }

    .uploadBtn {
        border: 1px solid gray;
        border-radius: 8px;
        padding: 0.5em;

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

.entered {
    border: 3px dashed red !important;
}
