.App {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.access {
  display: flex;
  width: 32em;
  gap: 0.5em;
}

.deliminer {
  margin: 1em;
  border-top: 3px dashed gray;
}

.textarea {
  box-sizing: border-box;
  resize: vertical;
  transition-duration: 0.1s;
  width: 100%;
  height: auto;
  padding: 0.5em;
  margin-bottom: 1em;
  border: none;
  border-radius: 8px;
  background-color: gainsboro;
  font-size: 2.1vh;
}

.error {
  display: none;
   color: red;
   font-weight: bold;
}
